<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <title>ChENMo's blogs </title>
	<!--{% load static %}-->
    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Blogs</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="work.html">Work</a></li>-->
            <!--<li><a href="about.html">About</a></li>-->
            <li><a href="{% url 'blog:edit_page' 0 %}">Add New Blog</a></li>
			  <li><a href="{% url 'blog:index' %}"># Back</a></li>
            <!--<li><a href="contact.html">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Posts Lists +++++ -->
	<!-- +++++ First Post +++++ -->
	{% for article in articles %}
	<div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{% static '/img/user.png' %}" width="50px" height="50px"> <ba>ChENMo</ba></p>
					<p><bd>{{ article.time }}</bd></p>
					<h4>{{ article.title }}</h4>
					<p><b>{{article.content|truncatechars:300}}</b>  <!--显示文章摘要-->
					</p>
					<p><a href="{% url 'blog:article_page' article.id %}">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->

	{% endfor %}


<!--{#    {{ page_info.pager|safe }}#}-->
<!--{#利用了bootstrap的分页组件#}-->
    <!--<nav aria-label="Page navigation">-->
        <!--<ul class="pagination">-->
            <!--{{ page_info.pager|safe }}-->
        <!--</ul>-->
    <!--</nav>-->

	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Contact</h4>
					<p>
						Email:pishit2009@gmail.com<br/>
						Tel:17600403129 <br/>
						Chengdu, China.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://github.com/XinuxC">GitHub</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Me</h4>
					<p>美国时代周刊2006年年度人物<br/>
                    2008年感动中国组委会特别大奖</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
