<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      <title>ChENMo's - Live A Little </title>
      <!--{% load static %}-->
      <!-- Bootstrap core CSS -->
      <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->
      <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">


      <!-- Custom styles for this template -->
      <!--<link href="assets/css/main.css" rel="stylesheet">-->
      <link href="{% static '/css/main.css' %}" rel="stylesheet">

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="{% static '/js/hover.zoom.js' %}"></script>
      <script src="{% static '/js/hover.zoom.conf.js' %}"></script>
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      <style>
          body {
              text-align: center;
          }

          section {
              width: 80%;
              margin: auto;
              text-align: left;
          }
      </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ChENMo's</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="work.html">Work</a></li>-->
              <!--<li><a href="about.html">About</a></li>-->
              <li><a class="" href="{% url 'blog:blogspage' %}"># Back</a></li>
              <!--<li><a href="contact.html">Contact</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>


    <div>
          <form action="{% url 'blog:edit_action' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="article_id" value="{{ article.id | default:'0' }}"/>
          <label>文章标题
            <input type="text" name="title" value="{{ article.title }}"/>
          </label>
          <br/>
          <label>文章内容
            <!--<input type="text" name="content" value="{{ article.content }}"/>-->
            <textarea id="editor_id" style="width:700px;height:300px;" name="content" value="{{ article.content }}">
                &lt;strong&gt;HTML内容&lt;/strong&gt;
            </textarea>
          </label><br/>
          <label>
            <input type="file" name="file" />
          </label>
          <br/>
          <input type="submit">
          </form>
      </div>




    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
