<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	{% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <title>ChENMo's - Live A Little </title>
	<!--{% load static %}-->
    <!-- Bootstrap core CSS -->
    <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <!--<link href="assets/css/main.css" rel="stylesheet">-->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static '/js/hover.zoom.js' %}"></script>
    <script src="{% static '/js/hover.zoom.conf.js' %}"></script>

    <!--搜索建议-->
    <!--<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />-->
    <!--<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />  -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
        <!--<div class="navbar-collapse collapse">-->
          <!--<ul class="nav navbar-nav navbar-right">-->
             <!--<li><a href="work.html">Sign In</a></li>-->
             <!--<li><a href="about.html">Sign Up</a></li>-->
          <!--</ul>-->
        <!--</div>-->
    <!-- Static navbar -->
    <!--<div class="navbar navbar-inverse navbar-static-top">-->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ChENMo's</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="{% url 'blog:blogspage' %}">Blog</a></li>
            <!--<li><a href="contact.html">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{% static '/img/user.png' %}" width="150px" height="150px" alt="ChENMo">
					<h1>Hello World</h1>
					<p>Hello everyone. I'm ChENMo, An Ops,MySQL DBA and Python Developer.</p>
					<p>You can say I'm a Dreamer</p>
					<p>But I'm not the Only One</p><br/>
					<p>Special thanks to <a href="http://www.bootcss.com/">Bootstrap</a>. Like always, you can use their Framework in any project freely. Share it with your friends.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
    <div class="copyrights">Collect from <a href="#" >ChENMo</a></div>
	

	<div class="container pt">
		<div class="row mt centered">
			<input type="text" class="form-control input-lg searchInput">
            <!--<input type="button" class="searchButton input-group-addon btn btn-primary" onclick="add_search()" />-->
            <span class="input-group-addon btn btn-primary searchButton" onclick="add_search()">搜索</span>
            <ul class="dataList"></ul>
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Contact</h4>
					<p>
						Email:pishit2009@gmail.com<br/>
						Tel:17600403129 <br/>
						Chengdu, China.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://github.com/XinuxC">GitHub</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Me</h4>
						<p>美国时代周刊2006年年度人物<br/>
                    2008年感动中国组委会特别大奖</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

  </body>
  <!--搜索建议-->
  <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/global.js' %}"></script>
  <script type="text/javascript">
    var suggest_url = "{% url 'blog:suggest' %}"
    var search_url = "{% url 'blog:searchview' %}"


	$('.searchList').on('click', '.searchItem', function(){
		$('.searchList .searchItem').removeClass('current');
		$(this).addClass('current');
	});

    function removeByValue(arr, val) {
      for(var i=0; i<arr.length; i++) {
        if(arr[i] == val) {
          arr.splice(i, 1);
          break;
        }
      }
    }


    <!--// 搜索建议-->
    $(function(){
        $('.searchInput').bind(' input propertychange ',function(){
            var searchText = $(this).val();
            var tmpHtml = ""
            $.ajax({
                cache: false,
                type: 'get',
                dataType:'json',
                url:suggest_url+"?s="+searchText,
                async: true,
                success: function(data) {
                    for (var i=0;i<data.length;i++){
                        tmpHtml += '<li><a href="'+search_url+'?q='+data[i]+'">'+data[i]+'</a></li>'
                    }
                    $(".dataList").html("")
                    $(".dataList").append(tmpHtml);
                    if (data.length == 0){
                        $('.dataList').hide()
                    }else {
                        $('.dataList').show()
                    }
                }
            });
        } );
    })

    hideElement($('.dataList'), $('.searchInput'));

</script>
<script>
    var searchArr;
    <!--//定义一个search的，判断浏览器有无数据存储（搜索历史）-->
    if(localStorage.search){
    <!--//如果有，转换成 数组的形式存放到searchArr的数组里（localStorage以字符串的形式存储，所以要把它转换成数组的形式）-->
        searchArr= localStorage.search.split(",")
    }else{
    <!--//如果没有，则定义searchArr为一个空的数组-->
        searchArr = [];
    }
    <!--//把存储的数据显示出来作为搜索历史-->
    MapSearchArr();

    function add_search(){
        var val = $(".searchInput").val();
        if (val.length>=2){
            <!--//点击搜索按钮时，去重-->
            KillRepeat(val);
            <!--//去重后把数组存储到浏览器localStorage-->
            localStorage.search = searchArr;
            <!--//然后再把搜索内容显示出来-->
            MapSearchArr();
        }

        window.location.href=search_url+'?q='+val+"&s_type="+$(".searchItem.current").attr('data-type')

    }

    function MapSearchArr(){
        var tmpHtml = "";
        var arrLen = 0
        if (searchArr.length >= 5){
            arrLen = 5
        }else {
            arrLen = searchArr.length
        }
        for (var i=0;i<arrLen;i++){
            tmpHtml += '<a href="'+search_url+'?q='+searchArr[i]+'">'+searchArr[i]+'</a>'
        }
        $(".mysearch .all-search").html(tmpHtml);
    }
    <!--//去重-->
    function KillRepeat(val){
        var kill = 0;
        for (var i=0;i<searchArr.length;i++){
            if(val===searchArr[i]){
                kill ++;
            }
        }
        if(kill<1){
            searchArr.unshift(val);
        }else {
            removeByValue(searchArr, val)
            searchArr.unshift(val)
        }
    }


</script>
</html>
